* {
  margin: 0;
  padding: 0; }

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5 {
  color: white;
  font-family: "Source Sans Pro"; }

h1 {
  font-weight: 800; }

h2 {
  font-weight: 100; }

a {
  border-bottom: 1px dotted white;
  color: inherit;
  text-decoration: none; }

footer#primary-footer {
  background-color: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 40px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 40px;
  z-index: 2; }

footer#primary-footer nav ul li {
  float: left;
  font-family: "Source Sans Pro";
  line-height: 40px;
  list-style: none;
  text-align: center;
  width: 150px;
  height: 40px; }

footer#primary-footer nav ul li:hover {
  background-color: white; }

#sections {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%; }
  #sections .section {
    position: relative; }
    #sections .section .definition {
      color: white;
      margin: 0 auto;
      padding: 200px 0 0 0;
      text-align: center;
      width: 650px;
      height: 100%; }
      #sections .section .definition h1 {
        font-size: 60px;
        letter-spacing: 3px;
        line-height: 60px;
        margin-bottom: 30px;
        text-transform: uppercase; }
      #sections .section .definition h2 {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 1.5px;
        line-height: 30px;
        margin-bottom: 30px; }
      #sections .section .definition h2.byline {
        font-size: 15px;
        letter-spacing: 0.75px;
        line-height: 15px;
        text-align: right; }
    #sections .section header.section-header {
      margin-left: 20px;
      padding-top: 20px;
      position: relative;
      text-transform: uppercase;
      width: 700px;
      z-index: 2; }
      #sections .section header.section-header h1.section-title {
        font-size: 30px;
        letter-spacing: 1.5px; }
      #sections .section header.section-header h2.section-description {
        font-size: 20px;
        letter-spacing: 1px; }
    #sections .section .svg-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #sections .section .svg-wrapper svg {
        display: block;
        margin: 100px auto 0 auto; }

#section-0 {
  background-color: #64c864; }

#section-1 {
  background-color: #c86464; }

#section-2 {
  background-color: #6464c8; }
  #section-2 ul {
    margin: 100px auto 0 auto; }
    #section-2 ul li {
      float: left;
      font-family: "Source Sans Pro";
      list-style: none;
      position: relative; }
      #section-2 ul li .figure h1 {
        font-size: 100px;
        text-align: center; }
      #section-2 ul li .explanation {
        color: white;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 0.6px;
        padding: 0 10px;
        position: absolute;
        bottom: 10px;
        text-align: left; }
    #section-2 ul li:hover {
      background-color: rgba(255, 255, 255, 0.25); }

#section-3 {
  background-color: #969664; }
  #section-3 li {
    color: white;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-weight: 100;
    list-style: none;
    width: 150px;
    height: 25px; }
  #section-3 #section-3-labels {
    color: white;
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: 100;
    margin-left: -200px;
    margin-top: -85px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 400px;
    height: 170px; }
    #section-3 #section-3-labels h1 {
      font-size: 150px;
      font-weight: 100;
      line-height: 150px; }
    #section-3 #section-3-labels h2 {
      font-size: 20px;
      font-weight: 400;
      line-height: 20px; }
  #section-3 .y-axis .domain {
    fill: none; }
  #section-3 .y-axis line {
    stroke: white;
    stroke-width: 0.5px; }
  #section-3 .y-axis text {
    fill: white;
    font-family: "Source Sans Pro";
    font-size: 12px; }
  #section-3 .x-axis .domain {
    fill: none;
    stroke: white;
    stroke-width: 1px; }
  #section-3 .x-axis line {
    stroke: white;
    stroke-width: 0.5px; }
  #section-3 .x-axis text {
    fill: white;
    font-family: "Source Sans Pro";
    font-size: 12px; }
  #section-3 g.slice path {
    cursor: pointer;
    stroke: #969664;
    stroke-width: 3px; }
